body{
    margin:0 ;
    padding-top: 800px;
    text-align: center;
}
.profile{
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;
}
#welcome{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: table;
    color: white;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}
h1{
    font-size: 40px;
    font-weight: 300;
    font-family: sans-serif;
}
h2{
    font-size: 30px;
    font-weight: 300;
    font-family:cursive;
    line-height: 1.2;
}
#bio{
    padding: 50px;
    text-align: center;
}
.line{
    height: 6px; background-color: #000; 
    width: 70px; 
    margin: 8px auto;
}
p{
    max-width: 450px; 
    margin: 25px auto; 
    font-size: 17px; 
    line-height: 1.3; 
    font-family:monospace;
    font-weight: 300;
}
.div{
    display: table-cell; 
    position: relative; text-align: 
    center; vertical-align: middle;
}
.menu{
    position: fixed;
    width: 100%;
    top: 0px;
    margin-top: 0px;
    z-index: 10;
    background-color: white;
}
.links{
    color:rgb(91, 246, 246);
    padding-right: 25px;
    padding-left: 33px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}
a{
    text-decoration: none;
}
#name{
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Quintessential', cursive;
}
.link:hover{color:red;
    font-size: 25px;
    
}
.links:hover{color:red;
    font-size: 25px;
    
}
.contacts h3{
    display: inline;
}